<div class="flex">
	<div class="">
		<app-side-bar [showSidebar]="showSidebar" menuType="angular"></app-side-bar>
	</div>

	<div class="flex-1 overflow-hidden scroll-bar max-h-screen">
		<div class="sticky-nav z-20">
			<app-header
				(dataEmitter)="receiveData($event)"
				headerType="angular"
				(dataShowSubSidebar)="onDataShowSubSidebar($event)"
			></app-header>
		</div>

		<div class="relative">
			<!-- <div class="p-2" [innerHTML]="content"></div> -->

			<div class="wrapper">
				<div class="flex">
					<div
						#contentContainer
						class="flex-1 overflow-y-scroll scroll-bar max-h-[calc(100vh-40px)]"
					>
						<div class="p-3">
							<!-- item -->
							@for (item of codes; track $index) { @if(item.linkToDrive) {
							<app-drive-button [id]="item.id" [linkToDrive]="item.linkToDrive" [name]="item.name"></app-drive-button>
							} @else {
							<app-code-blocks [id]="item.is" [name]="item.name" [codeBlocks]="item.codeBlocks"></app-code-blocks>
							} }
						</div>
					</div>

					<!-- subsidebar -->
					<div
						class="relative transition-all duration-400 overflow-x-hidden"
						[ngClass]="{
							'w-[350px] p-2': showSubSidebar === true,
							'w-0 p-0': showSubSidebar === false
						}"
					>
						@for (item of codes; track $index){
						<div class="w-[334px]">
							<button
								class="text-left text-blue-600 hover:text-blue-800 hover:underline cursor-pointer"
								(click)="scrollTo(item.id)"
							>
								{{ item.name }}
							</button>
						</div>
						}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
