.active {
	color: oklch(0.448 0.119 151.328);
}

#menu-sidebar::-webkit-scrollbar {
	width: 2px; /* width of the entire scrollbar */
	height: 2px;
}

#menu-sidebar::-webkit-scrollbar-track {
	background: #fff; /* color of the tracking area */
}

#menu-sidebar::-webkit-scrollbar-thumb {
	background: oklch(0.448 0.119 151.328); /* color of the scroll thumb */
}

#menu-sidebar::-webkit-scrollbar-thumb:hover {
	background: black; /* color of the scroll thumb on hover */
}
