.topic {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 10px;
}

.item {
	overflow: hidden;
	position: relative;
	display: block;
	// width: 168px;
	height: 40px;
	// margin: auto;
	border: 1px solid #4c4c4d;
	text-align: center;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	line-height: 40px;
	color: white;
	font-size: 14px;
	font-family: oswald;
	text-decoration: none;
	text-transform: uppercase;
	background-color: var(--color);
	border-radius: 4px;
    cursor: pointer;
}


.item .hover:after {
	position: absolute;
	top: 0;
	left: 50%;
	opacity: 0;
	display: block;
	content: '';
	width: 0%;
	height: 40px;
	background-color: white;
	border: 1px solid transparent;
	transform: skewX(-40deg);
	-webkit-transform: skewX(-40deg);
	-moz-transform: skewX(-40deg);
	transform-origin: center center;
	-webkit-transform-origin: center center;
	-ms-transform-origin: center center;
	-moz-transform-origin: center center;
	transition: all 0.35s, opacity 0.4s;
	-webkit-transition: all 0.35s, opacity 0.4s;
	-moz-transition: all 0.35s, opacity 0.4s;
}
.item .hover .txt {
	z-index: 10;
	position: relative;
	color: white;
	transition: color 0.35s;
	-webkit-transition: color 0.35s;
	-moz-transition: color 0.35s;
}
.item:hover .hover .txt {
	color: var(--color);
}
.item .hover:hover:after {
	opacity: 1;
	left: 3%;
	width: 95%;
	transform: skewX(-40deg);
	-webkit-transform: skewX(-40deg);
	-moz-transform: skewX(-40deg);
}
